<!DOCTYPE html>
<html>
<head>
  <title>StackOverflowClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log Out", log_out_path %>
    <% else %>
    <%= link_to "Sign Up", new_user_path %> or
      <%= link_to "Log In", log_in_path %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
